.App{
    padding: 2em 4em;
    text-align: center;
}
.App>div:last-child{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.App>div:last-child>div{
    padding: 4em 6em;
    background-color: #272b38;
    border-radius: 10px;
}
.App>div:last-child>div>div{
    width: 120px;
}